*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
!/.env.example
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Monorepo app folders
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/bootstrap/cache/*.php
frontend/node_modules/
frontend/dist/
