node_modules
vendor
.git
.gitignore
.github
.env
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/public
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/storage
tests
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.log
.DS_Store
Dockerfile
.dockerignore
docker-compose.yml
